<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link th:href="@{/main.css}" rel="stylesheet" />
  </head>
  <body>
    <div
      class="flex h-14 bg-blue-400 shadow-sm p-2 text-white align-center space-x-2"
    >
      <button onclick="showSide()" id="sideicon">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="w-6 h-6"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"
          />
        </svg>
      </button>
      <div class="flex-1"></div>
      <button>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="w-6 h-6"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M15.75 9V5.25A2.25 2.25 0 0013.5 3h-6a2.25 2.25 0 00-2.25 2.25v13.5A2.25 2.25 0 007.5 21h6a2.25 2.25 0 002.25-2.25V15m3 0l3-3m0 0l-3-3m3 3H9"
          />
        </svg>
      </button>
      <h6 th:text="${user.userName}" class="pt-2"></h6>
    </div>
    <div th:replace="~{components/utils/snackbar :: snackbar}">
      <p>The year is <span th:text="f"></span></p>
    </div>
    <div
      id="sidebar"
      class="sidebar w-80 bg-teal-500 absolute h-full z-1 top-0 p-4 left-0 transition-all ease-in-out duration-300 animate text-white"
    >
      <div class="flex">
        <div class="flex-1"></div>
        <button onclick="showSide()">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-6 h-6"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"
            />
          </svg>
        </button>
      </div>
    </div>
    <button onclick="showSnack({message: 'data sent', color: 'bg-red-500'})">
      show
    </button>
  </body>

  <script th:inline="javascript">
    /*<![CDATA[*/

    showSnack({
      message: "Logged in successfully",
      color: "bg-green-500",
    });
    const showSide = () => {
      const el = document.getElementById("sidebar");
      const icon = document.getElementById("sideicon");
      el.classList.toggle("sidebar");
      // icon.classList.toggle("pl-80");
    };
    /*]]>*/
  </script>

  <style th:inline="text">
    .sidebar {
      /* display: none; */
      width: 0px;
      left: -250px;
    }
    /* .animate {
    transition: left 1s ease;
} */
  </style>
</html>
