<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!-- this is where we refer the css file from src/main/resources/static/main.css -->
    <link th:href="@{/main.css}" rel="stylesheet" /> 
</head>
<body class="bg-grey">
	<div class="max-w-sm bg-red rounded-xl my-auto my-6 pl-6 mx-auto shadow-lg space-y-2">
		<h3 class="text-lg text-black font-semibold">Sign In</h3>
		<label>User name</label>
		<input type="text" name="username" />
		
		<label>Password</label>
		<input type="password" name="password" />
	</div>
</body>
</html>